.App{
  width: 30%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: #333333 solid 1px;
  border-radius: 5px;
  box-shadow: 7px 7px 15px 2px #333333;
}

@media (max-width:1024px){
  .App{
    width: 50%;
  
  }
}

@media (max-width:563px){
  .App{
    width: 90%;

  }
}